<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.netBanking1.Utilities.Reporting"></listener>
</listeners>
  <test thread-count="7" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <!--   <class name="com.netBanking1.Testcases.TC_LoginTest_001"/>-->
        <!--   <class name="com.netBanking1.Testcases.TC_LoginDDT_002"/> -->
       <!-- <class name="com.netBanking1.Testcases.TC_AddNewCustomer_003"/>-->
     <!-- <class name="com.netBanking1.Testcases.TC_EditCustomer_004"/> -->
          <class name="com.netBanking1.Testcases.TC_Add_Edit_DeleteCustomer_005"/> 
       <!-- <class name="com.netBanking1.Testcases.TC_DeleteCustomer_006"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
